/* .section{
    background:#042f1a;
  
    .carousel {
    background-color: var(--black);
    color: var(--black);
    font-family: var(--headingNarrow);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .01em;
    padding: 50px 0 50px 0;
    overflow: hidden;
    width: 100vw;
    white-space: nowrap;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
}
} */

.background{
  background-color: #042f1a;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}