.myRootClass *,
.myRootClass *::before,
.myRootClass *::after {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  background: #042f1a;
}

.marquee {
  padding: 50px 0px;
  width: 100%;
}

.marquee .container {
  overflow: hidden;
  width: 100vw;
}

.marquee .picContainer {
  gap: 1em;
  display: flex;
  animation: marquee 15s infinite linear;
}

.marquee .picContainer .pic {
  flex-basis: 20%;
  flex-shrink: 0;
}

.marquee .pic {
  gap: 10px;
  width: 100%;
  object-fit: cover;
  border: 2px solid rgba(238, 231, 231, 0.9);
}

@media (max-width: 1024px) {
  .marquee .picContainer .pic {
    flex-basis: 25%;
  }
}

@media (max-width: 768px) {
  .marquee .picContainer .pic {
    flex-basis: 33.33%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-125%);
    }
  }
}

@media (max-width: 768px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-186.65%);
    }
  }
}