.container {
  gap: 0 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  overflow-y: auto;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  grid-template-areas: ".";
  grid-template-columns: 1fr;
  background-color: #042f1a;
  grid-template-rows: auto 1fr;
  /* font-family: Arial, sans-serif; */
}

  /* Navigation style */
  .nav {
    align-items: center;
    padding-top: 30px;
    background-color: transparent;
    display: block;
    height: auto;
    z-index: 99;
    position: absolute;
    top: 0;
    width: 100%; /* Added width */
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; /* Added width */
  }
  
  .nav li {
    flex: 1;
    font-size: 1em;
    font-weight: 1000;
    text-align: center;
    width: 100%; /* Added width */
  }
  
  .nav a {
    display: block;
    text-decoration: none;
    color: #fefefe;
    padding: 10px;
    width: 100%; /* Added width */
  }  

/* header style */

  .header {
    background-color: #042f1a;
    padding-top: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .headerContent {
    position: relative;
    margin-top: 1em;
  }

  .headerTitle {
    font-weight: 1000;
    font-size: 12em;
    font-family: Arial, sans-serif;
    letter-spacing: -0.07em;
    line-height: 0.5em;
  }

  .headerImage {
    position: absolute;
    top: 12em;
  }

  .headerMind {
    position: absolute;
    top: 27em;
  }

  .headerTwistLine {
    position: absolute;
    top:0;
    padding-top: 12em;
  }

/*Scrolling pictures styles*/
.marquee {
  padding: 50px 0px;
  width: 100%;
  height: fit-content;
}

.marquee .picContainer {
  overflow: hidden;
  width: 100vw;
  gap: 3em;
  display: flex;
  animation: marquee 7s infinite linear;
}

.marquee .picContainer .pic {
  flex-basis: 15%;
  flex-shrink: 0;
}

.marquee .pic {
  gap: 10px;
  width: 100%;
  object-fit: cover;
  border: 2px solid rgba(238, 231, 231, 0.9);
}

@media (max-width: 1024px) {
  .marquee .picContainer .pic {
    flex-basis: 25%;
  }
}

@media (max-width: 768px) {
  .marquee .picContainer .pic {
    flex-basis: 33.33%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-125%);
    }
  }
}

@media (max-width: 768px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-186.65%);
    }
  }
}